/* You can add global styles to this file, and also import other style files */

@import "~swiper/swiper-bundle.min.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color1: #fff; //complete bg
  --color2: #030303; 
  --color3: #572e91; //Map-active
  --color4: #030303; //Text color
  --color5: #030303; //bottom note
  --color6: #A176DD; //Map-inactive
  --color7: #fcf9fb; //box colors
  --color8: #353433; //map-hover
  --color9: #030303; //Header
  --white: #020202; //Last box text
}

.container {
  margin: 0 auto;
  margin-top: -1rem;
  // padding: 1.2rem;
}
.container-lgg {
  // max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  // padding-top: 2rem;
}

// body {
//   // font-family: "Oswald", sans-serif;
//   font-family: "Roboto Condensed", sans-serif;
//   font-optical-sizing: auto;
//   margin: 0 !important;
//   background-image: url(../src/assets/images/background1.jpg);
// }
body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin: 0 !important;
  height: 100vh;
  background-image: url(../src/assets/images/bg5.png);
  background-size: auto 150%;
  background-position: left bottom; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease-out;
}

@media screen and (max-width: 767px) {
  .container {
    // padding-top: 0.8rem;
    padding-top: 1rem;
  }

  .container-lg {
    // padding-top: 1.5rem;
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%;
  }

  .container-lg {
    padding-top: 0;
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .container {
    max-width: 90%;
  }

  .container-lg {
    padding-top: 0;
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
}
